<svg class="img-responsive" id="state_machine-traffic_light" width="505pt" height="123pt"
 viewBox="0.00 0.00 505.00 123.00" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<g id="graph0" class="graph" transform="scale(1 1) rotate(0) translate(4 119)">
<title>workflow</title>
<polygon fill="#ffffff" stroke="transparent" points="-4,4 -4,-119 501,-119 501,4 -4,4"/>
<!-- place_bc74f4f071a5a33f00ab88a6d6385b5e6638b86c -->
<g id="node1" class="node">
<title>place_bc74f4f071a5a33f00ab88a6d6385b5e6638b86c</title>
<ellipse fill="#add8e6" stroke="#333333" cx="57.5" cy="-57.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="57.5" y="-55.3" font-family="Arial" font-size="9.00" fill="#000000">green</text>
</g>
<!-- place_96de5543d183d7de52ac5fa21c46fc811f673f89 -->
<g id="node2" class="node">
<title>place_96de5543d183d7de52ac5fa21c46fc811f673f89</title>
<ellipse fill="none" stroke="#333333" cx="248.5" cy="-57.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="248.5" y="-55.3" font-family="Arial" font-size="9.00" fill="#000000">yellow</text>
</g>
<!-- place_bc74f4f071a5a33f00ab88a6d6385b5e6638b86c&#45;&gt;place_96de5543d183d7de52ac5fa21c46fc811f673f89 -->
<g id="edge4" class="edge">
<title>place_bc74f4f071a5a33f00ab88a6d6385b5e6638b86c&#45;&gt;place_96de5543d183d7de52ac5fa21c46fc811f673f89</title>
<path fill="none" stroke="#333333" d="M115.0653,-57.5C137.327,-57.5 162.8725,-57.5 185.6139,-57.5"/>
<polygon fill="#333333" stroke="#333333" points="185.723,-59.2501 190.723,-57.5 185.723,-55.7501 185.723,-59.2501"/>
<text text-anchor="middle" x="153" y="-60.3" font-family="Arial" font-size="9.00" fill="#000000">to_yellow</text>
</g>
<!-- place_96de5543d183d7de52ac5fa21c46fc811f673f89&#45;&gt;place_bc74f4f071a5a33f00ab88a6d6385b5e6638b86c -->
<g id="edge1" class="edge">
<title>place_96de5543d183d7de52ac5fa21c46fc811f673f89&#45;&gt;place_bc74f4f071a5a33f00ab88a6d6385b5e6638b86c</title>
<path fill="none" stroke="#333333" d="M192.199,-45.0607C185.7513,-44.0097 179.2508,-43.1149 173,-42.5 155.3076,-40.7595 150.6924,-40.7595 133,-42.5 128.4096,-42.9516 123.6845,-43.5541 118.9445,-44.2586"/>
<polygon fill="#333333" stroke="#333333" points="118.4716,-42.5611 113.801,-45.0607 119.011,-46.0193 118.4716,-42.5611"/>
<text text-anchor="middle" x="153" y="-45.3" font-family="Arial" font-size="9.00" fill="#000000">to_green</text>
</g>
<!-- place_78988010b890ce6f4d2136481f392787ec6d6106 -->
<g id="node3" class="node">
<title>place_78988010b890ce6f4d2136481f392787ec6d6106</title>
<ellipse fill="none" stroke="#333333" cx="439.5" cy="-57.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="439.5" y="-55.3" font-family="Arial" font-size="9.00" fill="#000000">red</text>
</g>
<!-- place_96de5543d183d7de52ac5fa21c46fc811f673f89&#45;&gt;place_78988010b890ce6f4d2136481f392787ec6d6106 -->
<g id="edge2" class="edge">
<title>place_96de5543d183d7de52ac5fa21c46fc811f673f89&#45;&gt;place_78988010b890ce6f4d2136481f392787ec6d6106</title>
<path fill="none" stroke="#333333" d="M306.0653,-57.5C328.327,-57.5 353.8725,-57.5 376.6139,-57.5"/>
<polygon fill="#333333" stroke="#333333" points="376.723,-59.2501 381.723,-57.5 376.723,-55.7501 376.723,-59.2501"/>
<text text-anchor="middle" x="344" y="-60.3" font-family="Arial" font-size="9.00" fill="#000000">to_red</text>
</g>
<!-- place_78988010b890ce6f4d2136481f392787ec6d6106&#45;&gt;place_96de5543d183d7de52ac5fa21c46fc811f673f89 -->
<g id="edge3" class="edge">
<title>place_78988010b890ce6f4d2136481f392787ec6d6106&#45;&gt;place_96de5543d183d7de52ac5fa21c46fc811f673f89</title>
<path fill="none" stroke="#333333" d="M383.176,-45.8893C376.7325,-44.9085 370.2393,-44.0736 364,-43.5 346.2969,-41.8725 341.7031,-41.8725 324,-43.5 319.418,-43.9212 314.6991,-44.4834 309.9635,-45.1408"/>
<polygon fill="#333333" stroke="#333333" points="309.5196,-43.4369 304.824,-45.8893 310.0241,-46.9003 309.5196,-43.4369"/>
<text text-anchor="middle" x="344" y="-46.3" font-family="Arial" font-size="9.00" fill="#000000">to_yellow</text>
</g>
</g>
</svg>
